.container{
    border: 0.5px solid #3d3d3d;
    border-radius: 4px; 
    background-color: black;
    padding: 8px;
    border: 0.5px solid #3d3d3d;
    background-color: #f3f3f3;
    display: flex;
    cursor: pointer;
}

.container.d{
    background-color :rgb(74, 144, 226);
}
.container.s{
    background-color :rgb(74, 74, 74);
}
.container.h{
    background-color :rgb(242, 76, 100);
}
.container.c{
    background-color :rgb(126, 211, 33);
}

.upper-rank{
    color: black;
    display: flex;
    align-items: center; /* Align text and image */
    justify-content: center; /* Center content horizontally */
    gap: 4px; /* Space between rank and image */
}

.rank{
    color: black;
    font-size: 21;
}

.suit{
    color: black;
    font-size: 21;
}

.upper{
    display: flex;
    flex-direction: column; /* Stack the rank and image vertically */
    align-items: center; /* Center-align both elements horizontally */
}

.lower{
    align-self: self-end;
    justify-self: end;
    margin-left: auto;
}

.suit-icon {
    width: 1em; /* Match the font size of the rank */
    height: 1em; /* Match the font size of the rank */
    margin-top: 4px; /* Add a small gap between the rank and the image */
  }