.Card {
    display: inline-block;
    margin: 5px;
  }
  
  .CardImage {
    width: 100px; /* Adjust size as needed */
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  